* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

.game--header {
  font-family: "Anton", sans-serif;
  font-size: 72px;

  margin: 40px;
}

.game--subheader {
  font-size: 48px;

  margin: 30px;
}

.game--instructions {
  font-size: 40px;
  font-family: "Caveat", cursive;

  margin: 24px;
}

.game--btns-container {
  margin: 24px;
}

.game--btn {
  height: 50px;
  width: 150px;

  border: 5px solid black;

  font-size: 24px;
}

.game--btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--scores-container {
  display: flex;

  margin: 24px;
}

.game--score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game--score-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 8px;
}

.para {
  font-size: 22px;
}

.game--score {
  height: 50px;
  width: 160px;

  border: 5px solid black;
}

.results--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  height: 100px;
  width: 300px;

  border: 5px solid black;
}

.play-again {
  height: 40px;
  width: 125px;

  font-size: 20px;
  border: 5px solid black;

  margin: 24px;
}

.play-again:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
